    body, .card-body {
    background: linear-gradient(
        
        #1a0000,
        #7a0000,
        #7a1d00
    );
    }

.card-title{
    color: aliceblue;
}

.myHoverEffect{
   position: absolute;
   opacity: 1;
   transition: transform 1s ease, opacity 1s ease;
   transform-origin: center;
}

.myHoverEffect-2{
    opacity: 0;
}

.card:hover .myHoverEffect {
    transform: scale(1.1);
    opacity: 0;
}

.card:hover .myHoverEffect-2 {
    transform: scale(1.1);
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
}
